# add all environment variables and save as `release.env`

PARAPY_PYPI_ADDRESS=""
PARAPY_PYPI_USERNAME=""
PARAPY_PYPI_PASSWORD=""
PARAPY_CLOUD_ADDRESS=""
SERVICE_ACCOUNT_IDENTIFIER=""
SERVICE_ACCOUNT_SECRET=""
PARAPY_APP_IDENTIFIER=""
PARAPY_APP_VERSION=""